application:
	errorPresenter: Error:Error
	mapping:
		*:
		    - App\Module
		    - *
		    - *\*Presenter


session:
	expiration: 14 days


services:
    routerFactory: App\Router\RouterFactory
    router: @routerFactory::createRouter


includes:
    - console.neon
    - doctrine.neon
    - translation.neon
    - service.neon
