extensions:
    doctrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
    doctrine.dbal: Nettrine\DBAL\DI\DbalExtension
    doctrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension
    doctrine.orm: Nettrine\ORM\DI\OrmExtension
    doctrine.orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
    doctrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension
    doctrine.cache: Nettrine\Cache\DI\CacheExtension
    doctrine.migrations: Nettrine\Migrations\DI\MigrationsExtension


doctrine.orm.annotations:
    mapping:
        App\Model: %appDir%/Model


doctrine.dbal:
    debug:
        panel: %debugMode%
    connection:
        driver: pdo_mysql
        host: %doctrine.host%
        user: %doctrine.user%
        password: %doctrine.password%
        dbname: %doctrine.dbname%
        types:
            uuid:
                class: Ramsey\Uuid\Doctrine\UuidType
                commented: false
            uuid_binary:
                class: Ramsey\Uuid\Doctrine\UuidBinaryType
                commented: false
            uuid_binary_ordered_time:
                class: Ramsey\Uuid\Doctrine\UuidBinaryOrderedTimeType
                commented: false


doctrine.migrations:
    table: migrations
    column: version
    directory: %appDir%/../migrations
    namespace: Migrations
